<mat-tab-group class="tabGroup">
  <mat-tab label="All Questions" disabled>
    <div class="tabContent">
    <!-- empty -->
    </div>
  </mat-tab>
  <mat-tab label="Tab 1">
    <div class="tabContent">
    Content 1
    </div>
  </mat-tab>
  <mat-tab label="Tab 2">
    <div class="tabContent">
    Content 2
    </div>
  </mat-tab>
  <mat-tab label="Tab 3">
    <div class="tabContent">
    Content 3
    </div>
  </mat-tab>
  <mat-tab label="Tab 4">
    <div class="tabContent">
    Content 4
    </div>
  </mat-tab>
</mat-tab-group>